$fontFamily: 'Poppins', sans-serif
$autoprefixer: true
/******************************************/
/**************COLORS**********************/
/******************************************/
$color-font-button: rgb(236, 244, 254)
$color-white: #fff
$color-black: #000
$color-blue: rgb(59, 89, 152)

/******************************************/
/*******************PATHS******************/
/******************************************/
$images: '../../assets/images/'
$imagesLanding: '../../assets/images/landing/'

/******************************************/
/*******************PATHS******************/
/******************************************/
$fontIcon: 'Glyphicons Halflings'